.baseDiv{
	margin-left:5%; 
}

.divName{
	width: 29%;margin:2%;
	float: left;
}

video{
	width: 80%;
	margin:5% 10%; 
}

.box{
	margin:5%;
	float: left;
}

.btn_list{
	text-align: end;
}

.UNshow{background-color: rgba(200,200,200,0.4);}


.errors{
	color: red;
	border: red 2px dotted;
	border-radius:5px; 
	margin:25px 30%; 
}

.flashMsg{
	color: green;
	border: green 2px dotted;
	border-radius:5px; 
	margin:25px 30%;
	padding: 10px; 
}


.v_link{
	display: none;
}

#accordion h3
{
	font-weight:bolder; 
}

#accordion h3:hover,#accordion h3.ui-state-active,#accordion h3:focus
{
	background-color: #6cc091;
	border:#6cc091 solid 2px;
}


.ui-datepicker-title,.ui-datepicker-calendar,.ui-datepicker-inline{display:none !important; }


td.TDchecked{text-decoration: line-through;}